*, body{
	margin: 0;
	padding: 0;
}

a{
	transition: all ease 0.2s;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clearfix{
	float: none;
	clear: both;
}

.hidden{
	display: none;
}

img{
	max-width: 100%;
	display: block;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

pre {
	background: #f5f5f5;
	padding: 14px 19px;
	margin: 23px 0px 25px;
	line-height: 25px;
	word-break: break-all;
	word-wrap: break-word;
}

code {
	padding: 0.2em 0.3em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

hr {
	background: #ddd;
	color: #ddd;
	clear: both;
	float: none;
	width: 100%;
	height: 1px;
	margin: 27px 0px 34px;
	border: none;
}

.append-bottom{
	font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
	font-weight: bold;
	font-style: italic;
	font-size: 17px;
}

.space{
	background: none !important;
	color: none !important;
}

table{
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
	margin-bottom: 30px;
}

table>thead>tr>th, 
table>tbody>tr>th, 
table>tfoot>tr>th, 
table>thead>tr>td, 
table>tbody>tr>td, 
table>tfoot>tr>td {
    border: 1px solid #e5e5e5;
}

table tr th,
table tr td{
    padding: 10px 25px;
}

table tr th{
	background-color: #fbfbfb;
	font-size: 16px;
	font-weight: bold;
	color: #444;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fbfbfb;
}

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #fff;
	font-size: 16px;
}

#theme-wrapper{
	display: table;
	width: 100%;
}

/* ========== NAVIGATION ========== */
#theme-navigation{
	display: table-cell;
	width: 24%;
	background: #282C2F;
	color: #fff;
	position: fixed;
	height: 100%;
	vertical-align: top;
	overflow-y: auto;
}

#theme-navigation-heading{
	padding: 19px 30px;
	font-size: 19px;
	background: #3674A3;
	line-height: 30px;
}

#theme-navigation-list ul{
	list-style: none;
}

#theme-navigation-list ul li a{
	text-decoration: none;
	color: #EDEDED;
	padding: 15px 30px;
	display: block;
	border-top: 1px solid #424242;
	line-height: 26px;
}

#theme-navigation-list ul li a:hover{
	background: #65859D;
	color: #fff;
}

#theme-navigation-list ul li ul{
	padding: 18px 50px 20px;
	border-top: 1px solid #424242;
	list-style: circle;
}

#theme-navigation-list ul ul li {
	font-size: 14px;
}

#theme-navigation-list ul li ul li a{
	border:0px;
	padding:0px;
	border-top: 0px;
	padding: 0px;
	margin-bottom: 9px;
	color: #CBCBCB;
}

#theme-navigation-list ul li ul li:last-child a{
	margin-bottom: 0;
}

#theme-navigation-list ul li ul li a:hover{
	background:none;
	color: #eee;
}

#theme-navigation-list ul li ul li ul {
	padding: 5px 30px;
	border-top: 0px;
}
/* ========== NAVIGATION ========== */


/* ========== CONTENT ========== */
#theme-content{
	display: table-cell;
	width: 76%;
	color: #333;
	vertical-align: top;
	padding: 32px 49px;
}

#theme-content a{
	text-decoration: none;
	color: #0062D2;
}

#theme-content a:hover{
	text-decoration: underline;
}

#theme-content-heading{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}

#theme-content-info{
	border:1px solid #e5e5e5;
	border-left:0px;
	border-right:0px;
	margin: 27px 0px 40px;
	display: table;
}

#theme-content-info-created,
#theme-content-info-description{
	padding: 23px 30px;
	display: table-cell;
	vertical-align: top;
}

#theme-content-info-created{
	width: 30%;
	background: #f7f7f7;
	font-weight: bold;
	line-height: 26px;
	font-size: 15px;
	color: #555;
}

#theme-content-info-description{
	width: 70%;
	line-height: 26px;
}

#theme-content-body {
	line-height: 27px;
	color: #000;
}

#theme-content-body h1,
#theme-content-body h2,
#theme-content-body h3 {
	margin-bottom: 14px;
}

#theme-content-body p {
	margin: 0px 0px 22px 0px;
}

#theme-content-body ol,
#theme-content-body ul{
	margin: 7px 0px 14px 25px;
}

/* ========== CONTENT ========== */


/* ========== RESPONSIVE ========== */
@media only screen and (max-width: 995px){
	#theme-navigation-title{
		float:left;
	}

	.hidden{
		display: block;
		float: right;
	}

	.hidden a {
		color: #fff;
		text-decoration: none;
		background: #56A4CD;
		padding: 10px 15px;
		font-size: 16px;
		border-radius: 5px;
		font-weight: bold;
	}

	.hidden a:hover{
		background: #303030;
	}

	#theme-wrapper {
		display: block;
	}

	#theme-navigation {
		display: block;
		width: 100%;
		height: auto;
		overflow-y: hidden;
		position: relative;
	}

	#theme-content {
		display: block;
		width: 100%;
		padding: 0px;
		margin-top:20px;
	}

	#theme-content-heading,
	#theme-content-info,
	#theme-content-body{
		margin: 0px 20px;
	}

	#theme-content-info{
		margin: 27px 20px 40px;
	}

	#theme-navigation-list{
		display: none;
	}
}

@media only screen and (max-width: 675px){
	#theme-content-info{
		display: block;
	}

	#theme-content-info-created {
		width: 100%;
		display: block;
		padding: 0;
	}

	#theme-content-info-description {
		width: 100%;
		display: block;
		padding: 0;
	}

	#theme-content-info-created-body {
		padding: 18px 25px;
	}

	#theme-content-info-description-body {
		padding: 20px 0px;
	}
}
/* ========== RESPONSIVE ========== */